# This file specifies extra dependencies for the development of Contextualized ML

# Style
black==24.4.0
pylint==2.15.5
pylint-badge @ git+https://github.com/blengerich/pylint-badge@54d81ba844c184818e2e84f93ec6f6ee066d6433

# Documentation
jupyter-book==0.15.1
myst-parser==0.18.1
Sphinx==5.0.2
sphinx-book-theme==1.0.1
sphinx-jupyterbook-latex==0.5.2
sphinx-rtd-theme==2.0.0
sphinx_external_toc==0.3.1

# Testing
pytest==7.4.3

# Packaging
toml==0.10.2
tomli==2.0.1
build==1.0.3
twine==4.0.2